<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hb.abs.absworkout.bellyfatworkout.waistworkout.abdominalworkout.absworkoutpro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />



    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="hb.abs.absworkout.bellyfatworkout.waistworkout.abdominalworkout.absworkoutpro.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="hb.abs.absworkout.bellyfatworkout.waistworkout.abdominalworkout.absworkoutpro.permission.C2D_MESSAGE" />
    <application
        android:name="hb.abs.absworkout.bellyfatworkout.waistworkout.abdominalworkout.absworkoutpro.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="hb.abs.absworkout.bellyfatworkout.waistworkout.abdominalworkout.absworkoutpro.option.OptionsActivity" />
        <activity
            android:name="hb.abs.absworkout.bellyfatworkout.waistworkout.abdominalworkout.absworkoutpro.home.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hb.abs.absworkout.bellyfatworkout.waistworkout.abdominalworkout.absworkoutpro.home.tabs.tabtwo.chart.ChartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity android:name="hb.abs.absworkout.bellyfatworkout.waistworkout.abdominalworkout.absworkoutpro.exersices.ExerciseActivity" />
        <activity android:name="hb.abs.absworkout.bellyfatworkout.waistworkout.abdominalworkout.absworkoutpro.finish.FinishActivity" />
        <activity android:name="hb.abs.absworkout.bellyfatworkout.waistworkout.abdominalworkout.absworkoutpro.setting.SettingActivity" />
        <activity android:name="hb.abs.absworkout.bellyfatworkout.waistworkout.abdominalworkout.absworkoutpro.reminder.ReminderActivity" />
        <activity android:name="hb.abs.absworkout.bellyfatworkout.waistworkout.abdominalworkout.absworkoutpro.preview.LevelPreviewActivity" />
        <activity android:name="hb.abs.absworkout.bellyfatworkout.waistworkout.abdominalworkout.absworkoutpro.custom.CustomPreviewActivity" />


        <receiver android:name="hb.abs.absworkout.bellyfatworkout.waistworkout.abdominalworkout.absworkoutpro.reminder.receivers.NotifReceiver" />
        <receiver
            android:name="hb.abs.absworkout.bellyfatworkout.waistworkout.abdominalworkout.absworkoutpro.reminder.receivers.RefreshReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="android.arch.lifecycle.VERSION"
            android:value="27.0.0-SNAPSHOT" />
    </application>
</manifest>